In [2]:
from pathlib import Path

import numpy as np
import pandas as pd

In [54]:
from functools import reduce

def bool_list_to_int(array):
    return reduce(lambda acc, i: (acc << 1) | i, reversed(array), 0)

bool_list_to_int([1,0,1])

5

In [3]:
data_dir = Path('../data')

In [55]:
df = pd.read_csv(data_dir / 'train.csv', low_memory=False)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [56]:
df.shape

(1460, 81)

In [27]:
missing_cols = df.columns[df.isna().sum() > 100].values
missing_cols

array(['LotFrontage', 'Alley', 'FireplaceQu', 'PoolQC', 'Fence',
       'MiscFeature'], dtype=object)

In [62]:
df['missing_pattern'] = df[missing_cols].apply(lambda row: tuple(row.isna().values), axis=1)

In [63]:
df['missing_pattern']

0          (False, True, True, True, True, True)
1         (False, True, False, True, True, True)
2         (False, True, False, True, True, True)
3         (False, True, False, True, True, True)
4         (False, True, False, True, True, True)
                          ...
1455      (False, True, False, True, True, True)
1456     (False, True, False, True, False, True)
1457    (False, True, False, True, False, False)
1458       (False, True, True, True, True, True)
1459       (False, True, True, True, True, True)
Name: missing_pattern, Length: 1460, dtype: object

In [64]:
df['missing_pattern'].value_counts()

(False, True, False, True, True, True)       473
(False, True, True, True, True, True)        410
(True, True, False, True, True, True)        133
(False, True, True, True, False, True)       106
(False, True, False, True, False, True)       86
(True, True, True, True, True, True)          61
(False, False, True, True, True, True)        47
(True, True, False, True, False, True)        22
(True, True, True, True, False, True)         22
(False, False, False, True, True, True)       21
(False, True, True, True, True, False)        16
(False, False, True, True, False, True)       11
(False, True, True, True, False, False)        8
(True, True, False, True, True, False)         8
(False, True, False, True, False, False)       7
(True, True, False, True, False, False)        4
(False, True, False, False, False, True)       4
(False, False, False, True, False, True)       3
(True, False, True, True, True, True)          3
(False, True, False, True, True, False)        3
(True, True, True, True, False, False)         2
(False, True, False, False, False, False)      1
(False, False, False, True, False, False)      1
(False, True, False, False, True, True)        1
(False, False, False, True, True, False)       1
(False, False, True, True, True, False)        1
(True, False, False, True, False, True)        1
(False, False, True, True, False, False)       1
(True, True, True, True, True, False)          1
(True, False, True, True, False, True)         1
(True, True, False, False, False, True)        1
Name: missing_pattern, dtype: int64